$size: 1.35rem;
$color_: #7a7a8c;
$ground: #1d1e22; // ffffff
$border: #4c4f5a;
$light: #d6ebf6ff; //bbddeeff d6ebf6ff
$stackGround: #282828ff; // 282828ff 333333ff
$second-layer-color: #242529ff;

$green: #00ffccff;
$red: #ff0066ff;
$blue: #2ad4ffff;
$yellow: #ffcc00ff;
$font-size-big: 2rem;
$font-weight-bold: bold;
$default-border-radius: 24px;
$default-stack-width: 400px;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  font: 400 $size sans-serif;
  color: $color_;
  background-color: $ground;
  background: radial-gradient($border 6%, transparent 6%), darken($ground, 2%);
  background-position: 0 0, 25px 25px;
  background-size: 25px 25px;
}

.new-stack {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 580px;
  background-color: $second-layer-color;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;

  .new-stack-title {
    font-size: $font-size-big;
    font-weight: $font-weight-bold;
  }
  .new-stack-title-input {
    border: none;
    border-radius: $default-border-radius;
    background-color: $ground;
    color: $light;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
  }
  .new-stack-button {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    outline: none;
    width: 40px;
    height: 40px;
    background: $light;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .dot-color {
    list-style: none;
    margin: 5px 40px 5px 40px;
    min-height: 24px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .dot-color-picker {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.1);
      }
      &.green {
        background-color: $green;
      }
      &.blue {
        background-color: $blue;
      }
      &.red {
        background-color: $red;
      }
      &.yellow {
        background-color: $yellow;
      }
      &.checked {
        border: 2px solid $light;
      }
    }
  }
}
.grid-box {
  width: 1200px;
  margin: 20px auto;
  columns: 4;
  column-gap: 40px;
  break-inside: avoid !important;
  position: relative;
  box-sizing: inherit;
  @media (max-width: 1200px) {
    columns: 3;
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
  @media (max-width: 768px) {
    columns: 2;
  }
  @media (max-width: 480px) {
    columns: 1;
  }
  .stack {
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    background: $second-layer-color;
    max-width: 100%;
    border-radius: $default-border-radius;
    overflow: hidden;
    place-items: left;
    .stack-dot {
      margin-top: 10px;
      padding-right: 100%;
      padding-left: 10px;
    }
    .stack-title {
      margin: 0px;
      font-size: $font-size-big;
      font-weight: $font-weight-bold;
    }
    .stack-note {
      margin: 10px;
    }
  }
}
/*
.grid-box {
  display: grid;
  margin-left: auto;
  margin-right: auto;<
  width: 1200px;
  margin: 20px auto;
  columns: 4;
  background-color: red;

  .stack {
    width: 100%;
    max-width: $default-stack-width;
    place-items: center;
    text-align: center;
    text-decoration-style: none;
    list-style-type: none;
    border-radius: $default-border-radius;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    background-color: $second-layer-color;
    margin: 10px;
    color: $light;
  }
}
*/
