.stack {
  width: 100%;
  max-width: 380px;
  place-items: center;
  text-align: center;
  text-decoration-style: none;
  list-style-type: none;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  background-color: black;
  margin: 10px;
  color: white;
}